<h1>Thanks for your order!</h1>

<p>
  Just to let you know, we received your recent order from MiniShop for the following items:
</p>

<%= render @order.line_items -%>

<p>
  We'll send you a separate e-mail when your order ships.
</p>

<p>
  Have a great day,
  <br/>
  Your MiniShop Team
</p>
